{{> menu}}

<section class="ui two column grid segment">
      <div class="ui column">
          <h2 class="ui header">
                Welcome to the Movielist App, {{fullname}}!
                   </h2>
        
            <p>
              This app will allow users to create and maintain a collection of movielists.
            </p>
            <div class="buttons">
              <button class="ui blue button">
                Read more <i class="arrow circle right icon"></i>
              </button>
              <button class="ui green button">
                Like it? <i class="thumbs up icon"></i>
              </button>
              <button class="ui red button">
                Who are you? <i class="user icon"></i>
              </button>
            </div>
          <div id="readmore" class="ui message">
            <p>
             I aim to add alot more functionality to this website in the near future!
            </p>  
          </div>
          <div id="welcomeuser" class="ui message"> </div>
        <div class="ui divider"></div>
        
<!-- Statistics for the mian page -->
<h3 class="ui center aligned header">The Movielist App now contains:</h3>
<div class="ui two statistics">
    <div class="ui huge statistic">
        <div class="value">
            {{totalMovielists}}
        </div>
        <div class="label">
            Movielists
        </div>
    </div>
    <div class="ui huge statistic">
        <div class="value">
            {{totalMovies}}
        </div>
        <div class="label">
            Movies
        </div>
    </div>
</div>
        
        
        </div>  <div class="ui column">
    <div class="ui grid">
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/62b77a26-1fd6-46ee-ae4f-0484bfd39bdf/download%20(1).jfif?v=1651426441333">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/62b77a26-1fd6-46ee-ae4f-0484bfd39bdf/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw%40%40._V1_FMjpg_UX1000_.jpg?v=1651426443122">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/62b77a26-1fd6-46ee-ae4f-0484bfd39bdf/download.jfif?v=1651426444298">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/62b77a26-1fd6-46ee-ae4f-0484bfd39bdf/il_fullxfull.1614619486_22fz.webp?v=1651426447814">
      </div>
    </div>
  </div>
</section>
